@*
    Lab 6 - footer partial view
*@


<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - COMP2139_Labs - <a asp-area="" asp-controller="Home" asp-action="About">Mustafa Bandukda</a>
    </div>
</footer>