@{
    ViewData["Title"] = "COMP 2139";
}
<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <h3>Student Name: Mustafa Bandukda</h3>
    <h3>Student Number: </h3>
    <h3>Course Code: CRN 50262</h3>
    <h3>Term: Fall 2024</h3>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
